@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #010103;
  color: #ffffff;
  font-family: 'Inter', monospace;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
}
